{% extends "base.html" %}

{% block title %}
User Portal Entrance
{% endblock %}

{% block content %}

<div class="d-flex row">

    <div class="container col justify-content-md-center m-4">
        <form method="POST" action="{{ url_for('register_user') }}">
            <h3>Register a new User</h3>
            {{ register_form.csrf_token }}
            <div class="form-group m-2 col-4">
                {{ register_form.username.label }}
                {{ register_form.username(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ register_form.password.label }}
                {{ register_form.password(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ register_form.email.label }}
                {{ register_form.email(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ register_form.zipcode.label }}
                {{ register_form.zipcode(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ register_form.submit(class="btn btn-primary") }}
            </div>   
        </form>
    </div>

    <div class="container col justify-content-md-center m-4">
        <form method="POST" action="{{ url_for('login_user') }}">
            <h3>Login as a User</h3>
            {{ login_form.csrf_token }}
            <div class="form-group m-2 col-4">
                {{ login_form.username.label }}
                {{ login_form.username(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ login_form.password.label }}
                {{ login_form.password(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ login_form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

</div>
{% endblock %}