{% extends "base.html" %}

{% block title %}
Administrator Portal Entrance
{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
<h1>Welcome, {{ current_user.username }}</h1>
<a type="button" href="{{ url_for('logout') }}">Logout</a>
{% endif %}

<div class="d-flex row">

    <div class="container col justify-content-md-center m-4">
        <form method="POST" action="{{ url_for('register_admin') }}">
            <h3>Register a new Administrator</h3>
            {{ register_form.csrf_token }}
            <div class="form-group m-2 col-4">
                {{ register_form.username.label }}
                {{ register_form.username(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ register_form.password.label }}
                {{ register_form.password(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ register_form.email.label }}
                {{ register_form.email(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ register_form.clearance.label }}
                {{ register_form.clearance(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ register_form.submit(class="btn btn-primary") }}
            </div>   
        </form>
    </div>

    <div class="container col justify-content-md-center m-4">
        <form method="POST" action="{{ url_for('login_admin') }}">
            <h3>Login as an Administrator</h3>
            {{ login_form.csrf_token }}
            <div class="form-group m-2 col-4">
                {{ login_form.username.label }}
                {{ login_form.username(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ login_form.password.label }}
                {{ login_form.password(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ login_form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

</div>
{% endblock %}