{% extends "base.html" %}

{% block title %}
Star Animals
{% endblock %}

{% block content %}

<div class="d-flex row">

    <div class="container col justify-content-md-center m-4">
        <form method="POST" action="{{ url_for('register_animal') }}">
            <h3>Register a new Animal</h3>
            {{ form.csrf_token }}
            <div class="form-group m-2 col-4">
                {{ form.species.label }}
                {{ form.species(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ form.name.label }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ form.gender.label }}
                {{ form.gender(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ form.age.label }}
                {{ form.age(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ form.description.label }}
                {{ form.description(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ form.adoption_status.label }}
                {{ form.adoption_status(class="form-control") }}
            </div>
            <div class="form-group m-2 col-4">
                {{ form.submit(class="btn btn-primary") }}
            </div>   
        </form>
    </div>

</div>

<div class="animal-container"></div>
{% endblock %}